* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(139, 104, 122);
}

.slider {
  margin: 50px auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 700px;
  height: 400px;
}

.slider__wrapper {
  margin: 10px;
  position: relative;
  height: 80%;
}

.slider__item {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
}

.slider__image {
  display: block;
  margin: 15px auto;
  max-width: 100px;
}

.slider__title {
  margin: 15px 0;
}

.slider__text {
  margin: 15px 0;
}

.slider__control {
  display: flex;
  justify-content: center;
  height: 10%;
}

.btn {
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 30%;
  background-color: rgb(234, 192, 192);
}

.slider__prev {
  margin-right: 20px;
}

.btn:hover {
  background-color: rgb(167, 117, 117);
}
